<!DOCTYPE HTML>
<html>
  <head>
    <title>Cobras</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div id="game_header">
      <h1>These Cobras Got The Best Of Me</h1>
      <div id="rikki" class="cobra">
        <img src="images/cobra.png">
      </div>
      <div id="link" class="rikki_link">
        <a href="/"><img src="images/small_rikki.png"></a>
      </div>
    </div>
    <div id="cobra_wrapper" class="cobra_wrapper">
      <ul>
        <li>1. still waiting...</li>
      </ul>
    </div>
  </body>
</html>
