/* Standard Elements */
body {
  text-align: center;
  font-family: "Helvetica";
  font-size: 100px;
  margin-top: 100px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

table {
  width: 593px;
  margin: auto;
  padding: 0;
  border-collapse: collapse;
  -moz-column-gap: 0;
}

td {
  padding: 0;
}

tr {
  padding: 0;
}

/* Button Styling */
.button {
  float: right;
  margin-right: 95px;
  margin-top: 30px;
  text-decoration: none;
  padding: 6px 25px 6px 25px;
  font-size: 25px;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  
  background-color: whiteSmoke;

  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  
  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button:hover {
  background-color: #49AFCD;

  background-image: -ms-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
  background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: linear-gradient(top, #5BC0DE, #2F96B4);
  background-repeat: repeat-x;

  border-color: #2F96B4 #2F96B4 #1F6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.choose_mark {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  font-size: 55px;
  height: 55px;
  width: 71px;
  line-height: 44px;
  padding: 5px 5px;
  cursor: pointer;
}

.unselected {
  background-color: whiteSmoke;

  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;

  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-bottom-color: #B3B3B3;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.selected {
  border: 1px solid #CCC;

  background-color: #5BB75B;

  background-image: -ms-linear-gradient(top, #62C462, #51A351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
  background-image: -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: -o-linear-gradient(top, #62C462, #51A351);
  background-image: -moz-linear-gradient(top, #62C462, #51A351);
  background-image: linear-gradient(top, #62C462, #51A351);
  background-repeat: repeat-x;

  border-color: #51A351 #51A351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#game_buttons {
  position: absolute; 
  right: -75px; 
  top: -7px;
}

#game_buttons>button{
  display:block;
  margin:30px;
  width:195px;
  float:none;
}

/* Board Dimensions */
#wrapper {
  width: 960px;
  margin: 40px auto 0 auto;
  position: relative;
}

.game_board {
  display:inline-block;
  width: 593px;
}

/* Game Square Attributes */
.game-square {
  width: 190px;
  height: 190px;
  line-height: 160px;
}

.open {
  cursor: pointer;
}

.open:hover {
  background-color: #7DE186;
}

.closed {
  cursor: pointer;
}

.closed:hover {
  background-color: #cfcfcf;
}

.won {
  background-color: #FFFE57;
}

/* Game Square Borders */
.border {
  border: 6px solid black;
}

.top-left {
  border-top-style: none;
  border-left-style: none;
}

.left { 
  border-left-style: none;
}

.bottom-left {
  border-bottom-style: none;
  border-left-style: none;
}

.top-right {
  border-top-style: none;
  border-right-style: none;
}

.right {
  border-right-style: none;
}

.bottom-right {
  border-right-style: none;
  border-bottom-style: none;
}

.middle-top {
  border-top: none;
}

.middle-bottom {
  border-bottom: none;
}

/* Modal Window Classes */
.modal {
  width: 330px;
  padding: 20px;
  line-height: 28px;
  font-size: 30px;
  color: red;
  margin: auto;
}

.prompt {
  font: 12px;
}

/* Game Header */
#game_header {
  position: relative;
  margin-top: 40px;
  margin: auto;
  width: 700px;
}

/* Side Bar */
.side_bar {
  display: inline-block;
  margin: auto;
  width: 680px;
  padding: 0 5px 30px 5px;
  border: 6px solid black;
  border-radius: 10px;
}

.right_float {
  float: right;
}

.left_float {
  float: left;
}

/* Game Mode */
#game_mode_buttons {
  margin: 0 auto 0 auto;
  width: 635px;
  margin-top: -30px;
}

.game_mode_wrapper {
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  width: 680px;
  padding: 0 5px 30px 5px;
  border: 6px solid black;
  border-radius: 10px;
}

.game_mode {
  display: inline-block;
  text-align: center;
  font-size: 28px; 
  height: 55px;
  width: 71px;
  line-height: 54px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Game Mark */
.game_mark {
  width: 197px;
  margin: auto;
  margin-top: -40px;
}

.player_mark {
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  width: 680px;
  padding: 0 5px 30px 5px;
  border: 6px solid black;
  border-radius: 10px;
}

/* Rikki */
.rikki {
  position: absolute;
  top: 30px;
  left: -160px;
  z-index: 5;
}